body {
	background-color : #B3D5FA;
	font-family : Arial, sans-serif;
}
.center {
	text-align : center;
}
.right {
	text-align : right;
}
.left {
	text-align : left;
}
.width_one_third {
	width : 30%;
}
.width_two_thirds {
	width : 60%;
}
.width_full {
	width : 100%;
}
.float_right {
	float : right;
}
.float_left {
	float : left;
}
.margin_top {
	margin-top : 50px;
}
.margin_top_small {
	margin-top : 25px;
}
.margin_side_small {
	margin-left : 25px;
	margin-right : 25px;
}
.scroll_y {
	overflow-y : auto;
	overflow-x : hidden;
}
.box {
	border : 1px solid black;
	padding : 25px;
}
.box_top_bottom {
	border-width : $border_width 0px solid $border_color;
	border-style : solid;
	border-color : black;
}
a, a.visited {
	color : red;
}
ul.nav {
	display : inline;
}
ul.nav li {
	background-color : yellow;
}
.tree .gutter {
	width : 50px;
	padding-top : 10px;
	float : right;
}
.tree .trunk {
	border : 1px solid black;
}
.tree .header {
	font-weight : bold;
	background-color : #A0d5f7;
	padding : 10px;
	height : 50px;
}
.tree .trunk .branch {
	padding : 0px 0px 10px 80px;
	font-weight : normal;
}
