<div class='box float_right width_one_third'>
<a href='http://code.google.com/p/ploof'>Ploof home</a>
<div class='margin_top'><a href='http://frugalprogrammer.com'>Frugalprogrammer's Blog</a>
</p>
</div>

<div class='center'>
    <div class="box width_two_thirds">
        Welcome to the PHP Lightweight Object Oriented Framework!
        <p>My controller is in /controller/Dashboard.php. My view is in /view/Dashboard/index.html. </p>
    </div>
</div>


<script>
    curvy(20, "#main_box");
    curvy(20, "#side_box");
</script>