<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Welcome to Ploof</title>    
    <style type="text/css">
	<!--
	@import url("/css/ploof.css");
	-->
	</style>
	<script language='javascript' src='/min/index.php?f=/js/jquery-1.3.2.min.js'></script>
	<script language='javascript' src='/min/index.php?f=/js/jquery.hint.js'></script>
	<script language='javascript' src='/min/index.php?f=/js/curvycorners.js'></script>
    <script language='javascript' src='/min/index.php?f=/js/ploof.js'></script>
</head>
<body onload="">
    <?= render_main(); ?>
</body>
</html>